.infoWrapper{
    margin-top: 32px;
    position: relative;
}

.img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.info {
    width: 100%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    &__title {
        width: 515px;
        font-family: $comfortaa-font;
        color: $main-white;
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.5px;
        z-index: 1;
    }
}

.dataSet {
    width: 1270px;
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // top: 42%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    list-style: none;
    padding: 0 10px;
    &__item {
        text-align: center;
        .data {
            font-family: $comfortaa-font;
            font-size: 36px;
            color: $main-white;
            font-weight: 400;
        }
        .text {
            font-family: $comfortaa-font;
            color: $main-white;
            font-size: 18px;
            font-weight: 400;
            margin-top: 0;
        }
    }
}