.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    &__content{
        max-width: 757px;
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-family: $pompiere-font;
        color: $main-grey;
        font-weight: 400;
        font-size: 40px;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin: 0  0 12px ;
    }
    &__subtitle{
        font-family: $comfortaa-font;
        color: $dark-grey;
        font-weight: 500;
        font-size: 20px;
        line-height: 22.3px;
        margin: 0 0 28px;
    }
    &__desc{
        font-family: $comfortaa-font;
        color: $main-grey;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.5px;
        margin: 0 0 28px;
    }
}