/***COLORS***/

$main-grey: #292929;
$main-white: #FFFFFF;
$dark-grey:#686868;
$light-grey: #EEEEEE;
$secondary-grey:#3D3D3D;
$hover-color: #A9A9A9;


/***FONTS***/

$comfortaa-font: 'Comfortaa', sans-serif;
$pompiere-font: 'Pompiere', sans-serif;






/*** MIXINS ***/

/* MEDIA QUERY */

@mixin _320 {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin _576 {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin _768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin _992 {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin _1380 {
    @media (min-width: 1380px) {
        @content;
    }
}